
svg {
  .road {
    fill: none;
    stroke: #444444;
  }

  .point {
    fill: #ff2222;
    opacity: 0.65
  }
  .point:hover {
    fill: #ff2222;
    opacity: 0.90;
    cursor: pointer;
  }

  .nearest-point {
    fill: none;
    stroke: #2222ff;
    stroke-width: 2px;
  }

  .handle {
    fill: #22ff22;
    opacity: 0.65
  }
  .handle:hover {
    opacity: 0.90;
    cursor: pointer;
  }
}
